.Imagen {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 200px; /* Máximo ancho permitido */
}
.Video {
    width: 100%;
    height: auto; /* Mantiene la proporción del video */
    max-width: 300px; /* Máximo ancho permitido */
}
audio {
    width: 150px; /* Ajusta este valor según tus necesidades */
}

